body {
  font-family: sans-serif;
  margin: 20px;
  background: #f2f2f2;
}

/* Заголовок */
h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
}

/* Поиск */
#search {
  width: 100%;
  padding: 16px;
  font-size: 22px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
}

/* Меню */
.menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Кнопки */
.menu button {
  width: 100%;
  padding: 20px;
  font-size: 22px;
  border-radius: 12px;
  border: 1px solid #999;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.menu button:hover {
  background: #e6f3ff;
}
