body {
    font-family: sans-serif;
    margin: 20px;
    background: #f2f2f2;
}

/* Заголовки */
h1 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}

/* Поле поиска */
#search {
    width: 100%;
    padding: 14px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

/* Контейнер меню */
.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Кнопки */
.menu button {
    width: 100%;
    padding: 18px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #888;
    background: #fff;
}
